<div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <div class="logo">TI MALL</div>
        <ul>
          <li><a href="#">
              <i class="fas fa-search"></i></a></li>
          <li><a href="#">
              <i class="fas fa-bell"></i>
            </a></li>
          <li><a href="#">
              <i class="fas fa-user"></i>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="officetemp">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Office Temp</span></a></li>
        <li><a href="/malltemp">
            <span class="icon"><i class="fas fa-file-video"></i></span>
            <span class="title">Mall Temp</span>
          </a></li>
        <li><a href="/ctwater">
            <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
            <span class="title">CT Water</span>
          </a></li>
        <li><a href="/waterlevel" class="active">
            <span class="icon"><i class="fas fa-blog"></i></span>
            <span class="title">Water Level</span>
          </a></li>
        <li><a href="/chillerplant">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Chiller Plant</span>
          </a></li>
      </ul>
    </div>