<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Responsive Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="temp.js"></script>
  <script>
    $(document).ready(function () {
      $(".hamburger").click(function () {
        $(".wrapper").toggleClass("collapse");
      });
    });
  </script>
</head>

<body>

  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <div class="logo">TI MALL</div>
        <ul>
          <li><a href="#">
              <i class="fas fa-search"></i></a></li>
          <li><a href="#">
              <i class="fas fa-bell"></i>
            </a></li>
          <li><a href="#">
              <i class="fas fa-user"></i>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Office Temp</span></a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-file-video"></i></span>
            <span class="title">Mall Temp</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
            <span class="title">CT Water</span>
          </a></li>
        <li><a href="#" class="active">
            <span class="icon"><i class="fas fa-blog"></i></span>
            <span class="title">Water Level</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Chiller Plant</span>
          </a></li>
      </ul>
    </div>

    <div class="main_container">
      <div class="item">
        <h1>Mall Office Temprature</h1>
      </div>
      <div class="item">
        <div class="center">
          <div align="center" class="form">
            <form action="" method="get">
              <button type="button" id="D1-on" class="button button1">D1 ON</button>
              <button type="button" id="D1-off" class="button button3">D1 OFF</button>
              <br>
              <button type="button" id="D2-on" class="button button1">D2 ON</button>
              <button type="button" id="D2-off" class="button button3">D2 OFF</button>
              <br>
              <button type="button" id="D3-on" class="button button1">D3 ON</button>
              <button type="button" id="D3-off" class="button button3">D3 OFF</button>
              <br>
            </form>
            <br><br>
          </div>
        </div>
      </div>
      <div class="item">
        <h2>Office Area</h2>
        <div class="center">
          <div align="center" class="form">
            <br><br>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="temperature">
              <img src='temperature.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity">
              <img src='humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <h2>Meeting Room</h2>
        <div class="center">
          <div align="center" class="form">
            <br><br>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="temperature1">
              <img src='temperature.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity1">
              <img src='humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
          </div>
        </div>
      </div>

      <div class="item">
        <h2>Server Room</h2>
        <div class="center">
          <div align="center" class="form">
            <br><br>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="temperature2">
              <img src='temperature.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity2">
              <img src='humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="addtime2">
              <img src='time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
          </div>
        </div>
      </div>

      <div class="item">
        <h2>CT Water Parameters</h2>
        <div class="center">
          <div align="center" class="form">
            <br><br>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="tds">
              <img src='temperature.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="ph">
              <img src='humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="O2">
              <img src='time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="turbo">
              <img src='time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id= "addtime_ct">
              <img src='time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
          </div>
        </div>
      </div>


    </div>
  </div> 

  
  <!-- <script src="led.js"></script>

</body>

</html>