<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>

  {{>nav_side_bar}}

    <div class="main_container">
      <div class="item">
        <h1>Chiller Plant</h1>
      </div>

      


    </div>
  </div> 

  
  <!-- <script src="led.js"></script>

</body>

</html>