<!DOCTYPE html>
<html lang="en">

<head>
 {{>head}}
</head>

<body>

  {{>nav_side_bar}}

    <div class="main_container">
      <div class="item">
        <h1>Cooling Tower Water Parameters</h1>
      </div>

      <div class="item">
        
        <div class="center">
          <div align="left" class="form">
            <br><br>
            
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="tds">
              <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="ph">
              <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="O2">
              <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="turbo">
              <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
            <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id= "addtime_ct">
              <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
            </p>
          </div>
        </div>
      </div>


    </div>
  </div> 

  
  <!-- <script src="led.js"></script>

</body>

</html>