<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Responsive Side Navigation Bar</title>
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  {{>nav_side_bar}}


  <div class="main_container">
      <div class="item">
        <h1>Welcome to TI BMS Application</h1>
      </div>
      <div class="item">
        <h1>Click on side Menu Bar to check the desire system</h1>
      
      </div>
    </div>

  <!-- <script src="led.js"></script>

</body>

</html>