<!DOCTYPE html>
<html lang="en">

<head>
   {{>head}}

    
</head>

<body>

    {{>nav_side_bar}}

        <div class="main_container">
            <div class="item">
                <h1>Mall Temprature</h1>
            </div>
            
            <div class="item">
                <h2>Ground Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <h2>First Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature1">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity1">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <h2>Second Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature2">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity2">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="addtime2">
                            <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <h2>Third Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature2">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity2">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="addtime2">
                            <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <h2>Fourth Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature2">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity2">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="addtime2">
                            <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <h2>Fifth Floor</h2>
                <div class="center">
                    <div align="center" class="form">
                        <br><br>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;'
                            id="temperature2">
                            <img src='images/temperature.png' height="60px" width="60px" style='vertical-align: middle' />
                            00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="humidity2">
                            <img src='images/humidity.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                        <p style='line-height: 60px;font-family: Helvetica;color: #fff;font-size: 50px;' id="addtime2">
                            <img src='images/time.png' height="60px" width="60px" style='vertical-align: middle' /> 00.00
                        </p>
                    </div>
                </div>
            </div>

           


        </div>
    </div>


    <!-- <script src="led.js"></script>

</body>

</html>