<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}

</head>

<body>

  {{>nav_side_bar}}



  <div class="main_container">
      <div class="item">
        <h1>Mall Office Temprature</h1>
      </div>
      <div class="item">
        <div class="center">
          <div align="center" class="form">
            <form action="" method="get">
              <button type="button" id="D1-on" class="button button1">D1 ON</button>
              <button type="button" id="D1-off" class="button button3">D1 OFF</button>
              <br>
              <button type="button" id="D2-on" class="button button1">D2 ON</button>
              <button type="button" id="D2-off" class="button button3">D2 OFF</button>
              <br>
              <button type="button" id="D3-on" class="button button1">D3 ON</button>
              <button type="button" id="D3-off" class="button button3">D3 OFF</button>
              <br>
            </form>
            <br><br>
          </div>
        </div>
      </div>
    </div>


  <!-- <script src="led.js"></script>

</body>

</html>